<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.baculsoft.kotlinandroid">

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true"/>

    <application
        android:name="com.baculsoft.kotlinandroid.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.baculsoft.kotlinandroid.views.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="baculsoft.com"
                    android:pathPrefix="/"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.baculsoft.kotlinandroid.views.activities.MainActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>